@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/raleway.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "raleway", sans-serif;
}

a {
  color: #403b3b;
  text-decoration: none;
}
a:hover {
  color: #008000;
  text-decoration: underline 4px;
  text-underline-offset: 12px;
}
menu {
  display: flex;
  align-items: end;
  padding-bottom: 10px;
  gap: 60px;
  font-family: raleway;
  font-weight: 800;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  font-size: 24px;
}
header {
  box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
}
.section {
  padding-left: 200px;
  padding-right: 200px;
}

form {
  display: flex;
  align-items: center;
  gap: 60px;
}
form p {
  background-color: #efefef;
  width: 150px;
  height: 32px;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}
p img {
  width: 15px;
  height: 15px;
}
h1 {
  display: flex;
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  justify-content: baseline;
}
.salad {
  background-image: url(./img/salad.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.grey {
label{
  font-size: 32px;
}
.input{
  width: 120px;
  height: 32px;
}
.portion{
    width: 120px;
    height: 42px;
}
li{
    list-style-type: none;
}
ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0; 
}
.grey{
  background-color: #efefef;
  width:auto;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 32px;
}
.space{
  width:auto;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 32px;
}
h2 {
  display: flex;
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  justify-content: baseline;
}
h3 {
  display: flex;
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  justify-content: baseline;
}
.MAX{
  background-color:white;
}
.photo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: top;
  border-radius: 50px;
  grid-area: 200px;
}
.footer{
  background-color: #403b3b;
  height: 400px;
}

