@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/raleway.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}

/* Sorgt aktuell für die Zentrierung */
.header-content,
.footer-content,
.content,
.recipe-section,
.recipe-section-content,
.compare-section {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 10px;
}

/* ----------------- */

main {
  flex: 1;
}

.page-content {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: #403b3b;
  text-decoration: none;
}

a:hover {
  color: #008000;
  text-decoration: underline 4px;
  text-underline-offset: 12px;
}

/*==========================
CSS Header
==========================*/

nav {
  display: flex;
  align-items: end;
  padding-bottom: 10px;
  gap: 24px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
}

header {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  height: 80px;
  padding-left: 20px;
}

/*==========================
CSS Footer
==========================*/

footer {
  margin-top: 30px;
  background-color: #403b3b;
  /* height: 200px; */
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  justify-content: space-between;
  padding: 24px;
}

.footer-logo img {
  height: 80px;
  filter: invert(1);
  padding-left: 20px;
}

.footer-sm {
  display: flex;
  gap: 10px;
}

.footer-sm img {
  margin-right: 5px;
  height: 42px;
  width: 155px;
  border-radius: 3px;
}

form p {
  background-color: #e4e4e4;
  width: auto;
  height: 32px;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

input {
  padding-left: 10px;
  margin-right: 0px;
  height: 40px;
  width: 160px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px grey solid;
  transition: 0.5s;
  outline: none;
}

input:focus {
  border: 2px rgb(46, 46, 46) solid;
}

button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: #008000;
  color: white;
  width: 160px;
  height: 40px;
}

p img {
  width: 15px;
  height: 15px;
}

h1 {
  display: flex;
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  justify-content: baseline;
  padding-top: 72px;
  padding-bottom: 32px;
}

label {
  padding-right: 24px;
  display: flex;
}

h2 {
  display: flex;
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  justify-content: baseline;
  padding-top: 32px;
  padding-bottom: 16px;
}

h3 {
  display: flex;
  font-size: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  justify-content: baseline;
}

h4 {
  font-size: 22px;
  padding-top: 32px;
  padding-bottom: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  unicode-bidi: isolate;
}

/*==========================
CSS contact.html
==========================*/

.footer_contact {
  background-color: #403b3b;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}

.footer_contact_logo img {
  width: auto;
  height: 36px;
  border-radius: 5px;
}

.footer_contact_logo {
  display: flex;
  gap: 24px;
}

.h3_contact {
  padding: 31px;
}

.flex_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_email {
  background-color: #dcdcdc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  justify-content: flex-start;
  padding-left: 31px;
}

.input_contact {
  width: 500px;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  margin-top: 15px;
}

.under {
  width: 200px;
  background-color: #088a08;
  color: white;
  cursor: pointer;
}

textarea {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.form_contact {
  height: 100vh; 
  display: flex;
  align-items: center;
  gap: 20px;
}

.Kochlogo_contact_footer img {
  display: flex;
  align-items: center;
  width: auto;
  height: 84px;
}

/*==========================
CSS von Max
==========================*/

/* Menu list */
ul.menu li a:hover {
  color: #008000;
  text-decoration: underline 4px;
  text-underline-offset: 12px;
}

ul.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

ul.menu li a {
  color: #403b3b;
  text-decoration: none;
  padding: 0.5rem;
}

/* cook button */
.cook {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding-right: 32px;
  gap: 4px;
}

.cook span {
  width: 30px;
  height: 3px;
  background: #008000;
}

.underimg_shish_kebab {
  display: flex;
  align-items: center;
  gap: 60px;
  padding-top: 32px;
  padding-bottom: 72px;
}

.schaschlik {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.portionier {
  display: flex;
  padding-bottom: 32px;
  font-size: 20px;
  align-items: center;
}

.portion {
  font-size: 20px;
  border-left: 1px;
  margin-left: 0;
  border-radius: 0;
  height: 40px;
  border-width: 0;
  background-color: #008000;
  color: white;
  width: 160px;
  cursor: pointer;
}

.mm-portioner {
  display: flex;
  flex-direction: column;
}

.maxlist {
  padding: 24px;
  padding-left: 32px;
  gap: 20px;
  background-color: #ffffff;
  width: auto;
  height: 26px;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
}

.grey_li_bckgr {
  gap: 20px;
  padding: 24px;
  padding-left: 32px;
  background-color: #e4e4e4;
  width: auto;
  height: 26px;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
}

.cooking ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
  padding-top: 32px;
}

.padding_gap {
  display: flex;
  padding-bottom: 32px;
  gap: 60px;
}

.photo_plus_name {
  display: flex;
  align-items: center;
  gap: 54px;
}

.MAX {
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 32px;
  font-weight: 400;
}

.photo_max {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: top;
  border-radius: 50px;
  grid-area: 200px;
}

.photo:hover {
  cursor: pointer;
}

/*===================================
CSS Design rezeptEnsar.html (Ensar)
====================================*/
.a_impressum {
  color: #006800;
}

.a_impressum:hover {
  color: #008000;
  text-decoration: none;
}

.profil_ensar {
  font-size: 28px;
}

.font_profil {
  margin-top: 24px;
  font-size: 22px;
}

.flex_box_profil {
  display: flex;
  justify-content: start;
  align-items: center;
}

.photo_ensar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: top;
  border-radius: 100px;
  grid-area: 200px;
  margin-right: 70px;
}

.h4-p p {
  font-size: 18px;
}

.turkish-pasta-img {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  align-items: center;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 50px;
}

.input-zutaten {
  height: 40px;
  border-radius: 10px 0 0 10px;
  text-align: center;
  padding-block: 0;
  padding-inline: 0;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.button-zutaten {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: #008000;
  color: white;
  width: 160px;
  height: 42px;
}

.button-zutaten:hover {
  cursor: pointer;
  background-color: #006800;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.li-grey {
  background-color: #e4e4e4;
  width: auto;
  height: 48px;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
  padding-left: 20px;
}

.li-white {
  background-color: #ffffff;
  width: auto;
  height: 48px;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
  padding-left: 20px;
}

.bold_headline_preparation {
  font-weight: bold;
}

.big_bold_headline_preparation {
  font-weight: bold;
  font-size: 24px;
}

.impressum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.no_margin {
  margin: 0;
}

.mt-100 {
  margin-top: 100px;
}

.li-muted {
  margin-left: 6px;
  color: #4e4e4e;
}

.form-ey {
  display: flex;
  justify-content: start;
  gap: 24px;
  margin-bottom: 70px;
  margin-top: 20px;
}

/*===================================
CSS Design rinderroulade.html (Marcel) 
====================================*/

.rouladenpng {
  width: 100%;
  aspect-ratio: 16 / 7;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  align-items: center;
  max-height: 450px;
  border-radius: 8px;
  margin-bottom: 50px;
  object-fit: cover;
}

.hero-crop img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.marcellist {
  list-style: decimal;
  list-style-position: inside;
}

.li-row {
  font-size: 16px;
}

.marcellist > li {
  display: list-item;
  margin-bottom: 12px;
}

.marcellist > li > .li-row {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  line-height: 1.5;
}

.recipe-creator {
  display: flex;
  flex-direction: row;
  padding-bottom: 80px;
}

.recipe-creator p {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 40px;
  font-size: 24px;
}

.mb-form {
  display: flex;
  justify-content: start;
  gap: 24px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.mb-profile {
  width: 100px;
  border-radius: 180px;
}

.mb-hr {
  color: #ffffffa6;
  margin-top: 70px;
  margin-bottom: 16px;
}

/* ===================
Marcel: Zutaten-Rechner 
==================== */

.mb-portioner {
  display: flex;
  flex-direction: column;
}

.mb-portioner .mb-portion-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.mb-portioner .mb-portion-label {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: #444;
  display: flex;
  padding-right: 0;
  padding-left: 0;
}

.mb-portioner #portionInput {
  width: 190px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background: #fff;
  outline: none;
}

.mb-portioner .mb-btn-green {
  display: inline-block;
  padding: 10px 16px;
  background-color: #008000;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.mb-btn-green:hover {
  background-color: #088a08;
  color: white;
  text-decoration: none;
}

.mb-portioner .mb-btn-green:hover {
  filter: brightness(1.05);
}

.mb-portioner .mb-btn-green:active {
  transform: translateY(1px);
}

.mb-portioner .mb-ingredients-list {
  list-style: none;
}

.mb-ingredients-list {
  font-size: 16px;
}

.mb-li-grey {
  background-color: #f3f3f385;
  padding: 10px 20px 10px;
  border-radius: 8px;
  width: auto;
}

.mb-li-white {
  background-color: #ffffff;
  padding: 10px 20px 10px;
  border-radius: 8px;
  width: auto;
}

/* ====================
Design der index.html 
=====================*/

.recipe-teaser {
  display: flex;
  align-items: stretch;
  gap: 40px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px 0 20px 0;
  margin-top: 8px;
  padding-inline: 10px;
}

.recipe-teaser img {
  width: 50%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.recipe-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.recipe-content h2 {
  padding-top: 0;
  padding-bottom: 16px;
  margin-top: 0;
  font-size: 28px;
}

.recipe-content p {
  flex-grow: 1;
  margin-bottom: 24px;
  line-height: 1.5;
}

.open-recept {
  display: inline-block;
  padding: 10px 16px;
  background-color: #008000;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.open-recept:hover {
  background-color: #088a08;
  color: white;
  text-decoration: none;
}

.grey-fullwidth {
  background-color: #dddddd;
  width: 100%;
}

.recipe-section {
  max-width: 1440px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  max-width: 1440px;
}

.recipe-section-content {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-section h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.recipe-grid {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.mainrecept {
  flex: 1 1 30%;
  max-width: 30%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  text-decoration: none;
  color: inherit;
}

.mainrecept:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.mainrecept img {
  width: 86%;
  height: 220px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 10px; /*beim hoover effekt - IMG direkt am Fenster(ohne ist am oberen Rand - sieht nicht so gut aus)*/
}

.mainrecept h3 {
  /* margin: 16px 0 8px; */
  font-size: 22px;
  color: #141414;
  font-weight: 600;
}

.mainrecept p {
  font-size: 16px;
  color: #555;
  padding: 0 16px;
  line-height: 1.4;
}

/* =============================
   Pfanne vs Wok – Teaser Sektion
============================= */

.compare-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.compare-inner {
  padding: 0 40px;
}

.compare-section h2 {
  display: block;
  text-align: center;
  margin: 0 0 40px;
}

.compare-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  text-align: left;
}

.compare-text {
  flex: 1;
  font-size: 18px;
  color: #333;
  /* line-height: 1.6; */
  /* max-width: 45%; */
}

.compare-btn {
  display: inline-block;
  margin-top: 24px;
  background: #188a00;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  transition: background 0.2s ease, transform 0.2s ease;
}

.compare-btn:hover {
  background: #1fa600;
  transform: translateY(-2px);
}

.compare-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.compare-image img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.compare-image img:hover {
  transform: scale(1.03);
}

/*==========================
Mobil CSS index.html
==========================*/
@media (max-width: 640px) {
  .mb-portioner {
    padding-left: 20px;
  }

  .mb-portioner .mb-portion-label {
    font-size: 16px;
  }

  .mb-portioner #portionInput {
    width: 72px;
  }

  .mb-portioner .mb-ingredients-list > li {
    grid-template-columns: 80px 60px 1fr;
    font-size: 16px;
    padding: 12px 14px;
  }
  h1{
    padding-top: 42px;
  }
    .footer-sm{
    flex-direction: column;
  }
  .footer-content{
    padding: 10px;
  }
}
@media (max-width: 830px) {
  main {
    padding-inline: 0px;
  }
  h1 {
    font-size: 28px;
    padding-inline: 4px;
    text-align: center;
  }
  h2 {
    font-size: 28px;
    padding-inline: 10px;
    padding-bottom: 16px;
  }
  h3 {
    font-size: 28px;
    padding-inline: 10px;
  }
  .h3_contact {
    padding: 0 0 16px 0;
    text-align: center;
  }
    label {
    padding-right: 0;
    margin-top: 8px;
  }

  .input_contact,
  textarea {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
  }

  textarea {
    height: 160px;
    margin-bottom: 12px;
  }

  .portionier {
    flex-direction: column;
    gap: 8px;
  }
  .portion {
    border-radius: 10px;
  }
  .padding_gap {
    font-size: 28px;
    gap: 8px;
    flex-direction: column;
  }
  .schaschlik {
    width: 100%;
    height: 200px;
  }

 .underimg_shish_kebab {
    flex-direction: column;
    align-items: normal;
    gap: 8px;
    padding-inline: 10px;
    padding-bottom: 16px;
  }
  input {
    text-align: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 10px;
  }
  button {
    border-radius: 10px;
  }
  
  form p {
    font-size: 16px;
  }
  ul.menu li a:hover {
    text-decoration: underline 2px;
    text-underline-offset: 6px;
  }

  ul.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    padding-top: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 10;
  }

  ul.menu.show {
    display: flex;
  }

  .page-content {
    transition: margin-top 0.3s ease;
    padding-inline: 10px;
    padding-bottom: 16px;
  }

  .page-content.pushed {
    margin-top: 160px;
  }

  .cook {
    display: flex;
    padding-right: 8px;
  }
  
  .grey_li_bckgr {
    font-size: 16px;
  }

  .maxlist {
    font-size: 16px;
  }
  ul#ingredients {
    padding-inline: 10px;
  }

  .logo {
    height: 54px;
    padding-inline: 10px;
  }
  .MAX {
    font-size: 24px;
  }
  .photo_max {
    width: 80px;
    height: 80px;
  }
  .footer-logo img {
    height: 48px;
    padding-left: 0;
  }

  .photo_plus_name {
    padding-left: 32px;
    padding-block-end: 0%;
    gap: 16px;
  }

  footer {
    max-width: 100%;
    margin: 0;
    padding-inline: 10px;
  }

  header {
    max-width: 100%;
    margin: 0;
    padding-inline: 10px;
  }
  .footer-sm {
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-right: 0;
  }

  .footer-sm img {
    width: 64px;
    height: auto;
  }
  .cooking ul li {
    padding-inline: 10px;
  }

  .form_contact {
    height: auto;
    padding: 40px 0;
    margin-top: 32px;
  }
  .recipe-teaser {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
  }

  .recipe-teaser img {
    width: 100%;
  }

  .recipe-section {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .recipe-grid {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .mainrecept img {
    width: 90%;
    height: auto;
  }

  .mainrecept {
    max-width: 100%;
  }

  .contact_email {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 16px 20px;
    box-sizing: border-box;
  }

  label {
    padding-left: 0;
    margin-top: 8px;
  }

  .input_contact,
   textarea {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
  }

  textarea {
    height: 160px;
    margin-bottom: 12px;
  }

  .flex_box {
    justify-content: center;
  }

  .under {
    width: 100%;
    border-radius: 10px;
  }

  nav {
    align-items: center;
  }
  .footer-content {
    max-width: 100%;
    margin: 0;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .cooking ul li {
    padding-inline: 10px;
  }
  .cooking ul {
    padding-top: 0;
  }
  .form-ey {
    flex-direction: column;
    gap: 12px;
  }
  .compare-content {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding-bottom: 16px;
    padding-top: 0px;
  }
    .mb-form {
    flex-direction: column;
    gap: 12px;
  }

  .rouladenpng {
    margin-bottom: 24px;
  }

  .mb-hr {
    margin-top: 16px;
  }

  .mb-portion-bar {
    flex-direction: column;
  }
}
/*==========================
Mobil CSS
==========================*/