@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/raleway.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "raleway", sans-serif;
}

.logo {
  padding-top: 18px;
  padding-bottom: 18px;
}

a {
  color: #403b3b;
  text-decoration: none;
}

a:hover {
  color: #008000;
  text-decoration: underline 4px;
  text-underline-offset: 12px;
}

nav {
  display: flex;
  align-items: end;
  padding-bottom: 10px;
  gap: 38px;
  font-family: raleway;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  font-size: 20px;
}

header {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
}

.section {
  padding-left: 200px;
  padding-right: 200px;
}

form {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 50px;
  margin-left: 200px;
  margin-bottom: 120px;
}

form p {
  background-color: #cbc8c8;
  width: auto;
  height: 32px;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

input {
  padding-left: 10px;
  margin-left: 20px;
  margin-right: 0px;
  height: 40px;
  width: 160px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px grey solid;
  transition: 0.5s;
  outline: none;
}

input:focus {
  border: 2px rgb(46, 46, 46) solid;
}

.input_portion {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 50px;
  margin-left: 200px;
}

button {
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: #008000;
  color: white;
  width: 160px;
  height: 44px;
}

button:hover {
  background-color: #005800;
}

p img {
  width: 15px;
  height: 15px;
}

h1 {
  display: flex;
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  justify-content: baseline;
  padding-left: 200px;
  padding-top: 100px;
  padding-bottom: 50px;
}


h2 {
  display: flex;
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  justify-content: baseline;
  padding-left: 200px;
  padding-top: 100px;
}

h3 {
  display: flex;
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  justify-content: baseline;
}

.salad {
  background-image: url(./img/salad.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.maxlist {
  list-style-type: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.liste-div {
  margin-top: 18px;
  margin-left: 200px;
  margin-right: 180px;
}

li {
  padding: 16px;
  padding-left: 32px;
}

.white {
  background-color: #ffffff;
  width: auto;
  height: 26px;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 18px;
}

.grey {
  background-color: #e4e4e4;
  width: auto;
  height: 26px;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
}

.li-muted {
margin-left: 6px;
color: #4e4e4e;
}

.space {
  width: auto;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 32px;
}


.MAX {
  background-color: white;
}

.photo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: top;
  border-radius: 50px;
  grid-area: 200px;
}

.footer {
  background-color: #403b3b;
  height: 400px;
}

.rouladenpng {
  width: 100vh;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.marcellist {
  list-style-position: inside;
}

.sectiontop {
  display: flex;
  justify-content: center;
}

.turkish-pasta-img {
  background-image: url('./assets/img/turkish-pasta.jpg');
  display: flex;
  justify-content: center;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-left: 200px;
  width: 1500px;
}