@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/raleway.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "raleway", sans-serif;
}

.logo {
  padding-top: 18px;
  padding-bottom: 18px;
}

a {
  color: #403b3b;
  text-decoration: none;
}
a:hover {
  color: #008000;
  text-decoration: underline 4px;
  text-underline-offset: 12px;
}

.KochLogo {
  width: auto;
  height: 84px;
}

.KochLogo:hover {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: end;
  padding-bottom: 10px;
  gap: 24px;
  font-family: raleway;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  font-size: 20px;
}
header {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
}


.section {
.main {
  padding-left: 200px;
  padding-right: 200px;
}

.form1 {
  display: flex;
  align-items: center;
  gap: 60px;
  padding-top: 32px;
  padding-bottom: 72px;
}
form p {
  background-color: #e4e4e4;
  width: auto;
  height: 32px;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

input {
  padding-left: 10px;

  margin-right: 0px;
  height: 40px;
  width: 160px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px grey solid;
  transition: 0.5s;
  outline: none;
}

input:focus {
  border: 2px rgb(46, 46, 46) solid;
}

.input {
  border: 1px solid rgb(201, 201, 201);
  border-right: 0;
  height: 38px;
  border-radius: 10px 0 0 10px;
  text-align: start;
  padding-block: 0;
  padding-inline: 0;
  padding-left: 20px;
}

.input_portion {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

label {
  padding-right: 24px;
}

button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: #008000;
  color: white;
  width: 160px;
  height: 40px;
}
p img {
  width: 15px;
  height: 15px;
}

h1 {
  display: flex;
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  justify-content: baseline;
  padding-top: 72px;
  padding-bottom: 32px;
}

.schaschlik {
  background-image: url(./assets/img/shish-kebab-417994_1920.jpg);
}

.salad {
  background-image: url(./img/salad.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.ingredients {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  font-size: 20px;
}


.portion {
  font-size: 20px;
  border-left: 1px;
  height: 40px;
  border-width: 0;
  width: 160px;
  background-color: #008000;
  color: white;
}

li {
  list-style-type: none;
  font-size: 20px;
  padding: 16px;
  padding-left: 32px;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;

}
.grey {
  font-size: 32px;
}
.input{
  width: 120px;
  height: 32px;
}
.portion{
    width: 120px;
    height: 42px;
}
.maxlist{
    list-style-type: none;
}
ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0; 
}
.grey{
  background-color: #efefef;
  width:auto;
  height: 48px;

.white {
  background-color: #ffffff;
  width: auto;
  height: 26px;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 18px;
}

.grey {
  background-color: #e4e4e4;
  width: auto;
  height: 26px;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
}

.space {
  width: auto;
  height: 48px;
  display: flex;
  align-items: center;
}

h2 {
  display: flex;
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  justify-content: baseline;
  padding-top: 32px;
  padding-bottom: 16px;
}

.form2 {
  display: flex;
  padding-bottom: 10px;
  gap: 60px;
}
h3 {
  display: flex;
  font-size: 18px;
  padding-top: 32px;
  padding-bottom: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  unicode-bidi: isolate;
  justify-content: baseline;
}

.photo_plus_name {
  display: flex;
  padding-bottom: 72px;
}

.MAX {
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 32px;
  font-weight: 700;
}


.li-muted {
  margin-left: 6px;
  color: #4e4e4e;
}

.space {
  width: auto;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 32px;
}

.MAX{
  background-color:white;
}

.photo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: top;
  border-radius: 50px;
  grid-area: 200px;
}


.photo:hover {
  cursor: pointer;
}

.footer {
  background-color: #403b3b;
  height: 400px;
}

.footer_contact {
  background-color: #403b3b;
  height: 200px;
}

.form_contact {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form3 {
  display: grid;
  border: 1px;
  background-color: #dcdcdc;
  border-radius: 25px;
  padding: 100px;
  margin: 200px;
} 

.rouladenpng {
  width: 100vh;
}

.turkish-pasta-img {
  display: flex;
  justify-content: center;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-left: 200px;
}
  align-items: center;
  height: 200px;
  background-size: cover;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
      MARGIN-BOTTOM: 50PX;
}

form {
  display: flex;
  justify-content: start;
  gap: 24px;
  margin-bottom: 120px;
  margin-top: 20px;
}
  .bold_headline_preparation{
    font-weight: bold;
  }

  .big_bold_headline_preparation{
    font-weight: bold;
    font-size: 24px;
  }

  .no_margin{
    margin:0;
  }
